.app-footer {
    text-align: center; 
    padding: 5px;
    margin-top: 20px; /* Space above the footer */  
    border-radius: 8px; /* Rounded corners */
    height: 48px;
    background-color: #303030; /* Dark background */
    color: #949494;
  }
  