/* Responsive adjustments */
@media (max-width: 1000px) {
  .main-body {
    grid-template-columns: repeat(2, 1fr); /* 2 products per row */
  }
  .nav li h3
  {
    font-size: 0.5em; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 746px) {
  .main-body {
    grid-template-columns: 1fr; /* 1 product per row */
  }

  #main-content {
    grid-template-columns: none
  }

  .nav {
    visibility: hidden;
  }

  .product-details {
    grid-template-columns: 1fr; /* 1 column for product details */
  }
}

